<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" />-->
</head>
<body>
    <div id="wrapper">
        <h1> <a class="backButton" href="index.html"></a>Settings</h1>

        <div id="settings">
            <form name="form" novalidate saveBeforeExit>
                <div><img id="imgAvatar" ng-src="{{settings.avatar}}" src="images/Avatars/default-avatar.png" style="height:100px; " /></div>
                <div>
                    <label>Avatar</label>

                    <select id="selAvatar" ng-model="settings.avatar">
                        <option id="" value="images/Avatars/default-avatar.png">Select Avatar</option>
                        <option value="images/Avatars/clown_256.png">clown</option>
                        <option value="images/Avatars/guard_256.png">guard</option>
                        <option value="images/Avatars/guide_256.png">guide</option>
                        <option value="images/Avatars/king_256.png">king</option>
                        <option value="images/Avatars/librarian_256.png">librarian</option>
                        <option value="images/Avatars/piracy_256.png">piracy</option>
                        <option value="images/Avatars/spyware_256.png">spyware</option>
                        <option value="images/Avatars/technical_256.png">technical</option>
                        <option value="images/Avatars/user_256.png">user</option>
                        <!--<option id="optFacebook" value="images/Avatars/default-avatar.png">facebook</option>-->
                        <option value="https://graph.facebook.com/{{settings.facebookid}}/picture?type=normal">facebook</option>
                        <!--<option id="optGravatar" value="http://www.gravatar.com/avatar/2052d2b1202425e2136a6ab6b7c9a107.jpg?s=100&r=pg&d=wavatar">gravatar</option>-->
                        <!--<option id="optGravatar"  value="{{settingsManager.get_gravatar(settings.email) }}">gravatar</option>-->
                        <option id="optGravatar" value="{{gravata
                        <option id="optGravatar" value="{{gravatarUrl}}">gravatar</option>
                    </select>

                </div>
                <div>
                    <label>Name</label>
                    <input id="txtName" type="text" placeholder="Name" ng-model="settings.name" />
                </div>
                <div>
                    <label>Email</label>
                    <input id="email" type="text" placeholder="Email" ng-model="settings.email" />
                </div>
                <div>
                    <label>Facebook</label>
                    <!--<input id="btnFacebook" onclick="window.location.href = 'Login.html';" type="button" value="Log in" />-->
                    <div id="btnFacebookLogIn" class="smallButton" ng-show="!isLoggedIn" ng-click="loginFacebook();" style="background-image: url('images/ButtonFacebook.png'); ">
                        Log in
                    </div>
                    <div id="btnFacebookLogOut" class="smallButton" ng-show="isLoggedIn" ng-click="logoutFacebook();" style="background-image: url('images/ButtonFacebook.png'); ">
                        Log out
                    </div>
                </div>
                <div>
                    <label>Id {{settings.id}}</label>
                </div>
              
            </form>
            <div>
                <label></label>
                <button id="btnDeleteData" ng-click="deleteData();">Delete All</button>
            </div>
        </div>

 
    </div>

</body>
</html>
